---
import Logo from '~/assets/logo.svg'
---

<header class='sticky top-0 left-0 bg-white'>
  <div class='mx-auto max-w-7xl px-5'>
    <div class='flex h-16 items-center justify-between md:h-20'>
      <div>
        <a href='/'>
          <Logo class='h-[16px] w-auto md:h-[19px]' />
          <span class='sr-only'>Lukáš Poslední</span>
        </a>
      </div>
      <div>
        <nav class='flex gap-x-2.5 md:gap-x-5'>
          <a href='/#galerie'>Galerie</a>
          <span class={'select-none'}>/</span>
          <a href='/#o-mne'>O mně</a>
        </nav>
      </div>
    </div>
  </div>
</header>
